<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} + ' product'">Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p th:text="${paragraph} + ' product'">Product</p>
<form th:action="@{/product/save}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Product: <input type="text" th:field="*{name}"/></p>
    <p>Price: <input type="text" th:field="*{price}"/></p>
    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p>Category:
        <select>    <!--utext="fromCategories"-->
            <option th:each="category : ${fromCategories}"
                    th:value="${category.name}"
                    th:utext="${category.name}"/>
        </select>
    </p>
    <p>
        <input type="submit" name="productSaveDecision" value="Save"/>
        <input type="submit" name="productSaveDecision" value="Cancel"/>
        <input type="reset" value="Reset"/>
</form>
</body>
</html>
