<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} + ' address'">Address</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h3 th:text="${head} + ' address'">Address Option's</h3>
<form action="#" th:action="@{/address/save}" th:object="${addEditAddress}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Street: <input type="text" th:field="*{street}"/> </p>
    <p>Street Number: <input type="text" th:field="*{streetNumber}"/> </p>
    <p>Local Number: <input type="text" th:field="*{localNumber}"/> </p>
    <p>Postal-Code: <input type="text" th:field="*{postalCode}"/> </p>
    <p>City: <input type="text" th:field="*{city}"/> </p>
    <p>
        <input type="submit" name="decision" value="Save"/>
        <input type="submit" name="decision" value="Cancel"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>