<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address List</title>
</head>
<body>
<h3><b>ADDRESS LIST</b></h3>
<table>
    <thead>
    <tr>
        <td>Street</td>
        <td>Street Number</td>
        <td>Local Number</td>
        <td>Postal-Code</td>
        <td>City</td>
        <td>Edit</td>
        <td>Remove</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addressList}">
        <td th:text="${address.street}">Street</td>
        <td th:text="${address.streetNumber}">Street Number</td>
        <td th:text="${address.localNumber}">Local Number</td>
        <td th:text="${address.postalCode}">Postal-Code</td>
        <td th:text="${address.city}">City</td>
        <td><a th:href="@{'/address/edit/' + ${address.id}}">Edit</a> </td>
        <td><a th:href="@{'/address/delete/choice/' + ${address.id}}">Delete</a> </td>
    </tr>
    </tbody>
</table>
</body>
<br>
<p>1. <a th:href="@{/address/add}">Add new Address</a> </p>
<p>2. <a th:href="@{/main}">Main Menu</a> </p>
</html>