<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Order information's</h2>
<form th:action="@{/order/save}" th:object="${order}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Name: <input type="text" th:name="clientName" th:field="*{client.name}"/> </p>
    <p>Surname: <input type="text" th:name="clientSurname" th:field="*{client.surname}"/> </p>
    <p>City: <input type="text" th:name="city" th:field="*{client.clintAddress.city}"/> </p>
    <p>Postal-Code: <input type="number" th:name="postalCode" th:field="*{client.clintAddress.postalCode}"/> </p>
    <p>Street: <input type="text" th:name="street" th:field="*{client.clintAddress.street}"/> </p>
    <p>Street Number: <input type="text" th:name="streetNumber" th:field="*{client.clintAddress.streetNumber}"/> </p>
    <p>Local Number: <input type="text" th:name="localNumber" th:field="*{client.clintAddress.localNumber}"/> </p>
    <p>Payment Method:
        <select>
            <option th:each="paymentMethod:${payMeth}"
                    th:value="${paymentMethod.name}"
                    th:utext="${paymentMethod.name}"/>
        </select>
    </p>
    <p>Comment: <input type="text" name="comment" th:field="*{clientComment}"/> </p>
    <p>
        <input type="submit" name="decision" value="Submit"/>
        <input type="submit" name="decision" value="Cancel"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>