<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All client's</title>
</head>
<body>
<h3>ALL CLIENT'S</h3>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Address ID</td>
        <td>User ID</td>
        <td>Edit</td>
        <td>Remove</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client:${clients}">
        <td th:text="${client.name}">Name</td>
        <td th:text="${client.surname}">Surname</td>
        <td th:text="${client.clintAddress.id}">Address ID</td>         <!--jak to zrobic??-->
        <td th:text="${client.userId.id}">User ID</td>
        <td><a th:href="@{'/client/edit/' + ${client.id}}">Edit</a> </td>
        <td><a th:href="@{'/client/delete/choice/' + ${client.id}}">Delete</a> </td>
    </tr>
    </tbody>
</table>
<p><b><a th:href="@{/client/add}">Add new client</a> </b></p>
</body>
</html>