<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All client's</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h3>ALL CLIENT'S</h3>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <!--<td>Address ID</td>
        <td>User ID</td>-->
        <td>Edit</td>
        <td>Remove</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client:${clients}">
        <td th:text="${client.name}">Name</td>
        <td th:text="${client.surname}">Surname</td>
        <!--<td th:text="${client.clintAddress.id}">Address ID</td>         &lt;!&ndash;jak to zrobic??&ndash;&gt;
        <td th:text="${client.userId.id}">user ID</td>-->
        <td><a th:href="@{'/client/edit/' + ${client.id}}">Edit</a> </td>
        <td><a th:href="@{'/client/delete/choice/' + ${client.id}}">Delete</a> </td>
    </tr>
    </tbody>
</table>
<br>
<p>1. <a th:href="@{/client/add}">Add new client</a></p>
<p>2. <a th:href="@{/main}">Main Menu</a> </p>
</body>
</html>