<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALL USER'S</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h3>ALL USER'S</h3>
<table>
    <thead>
    <tr>
        <td>Login</td>
        <td>Password</td>
        <td>Role</td>
        <td>Edit</td>
        <td>Remove</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.login}">Login</td>
        <td th:text="${user.password}">Password</td>
        <td th:text="${user.Role}">Role</td>
        <td><a th:href="@{'/user/edit/' + ${user.id}}">Edit</a> </td>
        <td><a th:href="@{'/user/delete/choice/' + ${user.id}}">Delete</a> </td>
    </tr>
    </tbody>
</table>
<br>
<p>1. <a th:href="@{/user/add}">Add new user</a> </p>
<p>2. <a th:href="@{/main}">Main Menu</a> </p>
</body>
</html>