<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} + ' user'">User</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2 th:text="${paragraph} + ' user'">User</h2>
<form th:action="@{/user/save}" th:object="${addEditUser}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Login: <input type="text" th:field="*{login}"/> </p>
    <p>Password: <input type="text" th:field="*{password}"/> </p>
    <p>Role: <input type="text" th:field="*{role}"/> </p>
    <p>
        <input type="submit" name="decision" value="Save"/>
        <input type="submit" name="decision" value="Cancel"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>