<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>EZ Shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h3> WELCOME </h3>
<p>1. <a th:href="@{/login}">Login</a> </p>
<p>2. <a th:href="@{/registery}">Registery</a> </p>
<p>3. <a th:href="@{/product/list}">Product list</a> </p>
<p>4. <a th:href="@{/delivery}">Delivery</a> </p>
<p>5. <a th:href="@{/basket-content}">Basket</a> </p>
<br>
<br>
<br>
<br>
<p>Admin:</p>
<p>1. <a th:href="@{/product/all}">Product options</a> </p>
<p>2. <a th:href="@{/category/all}">Category options</a> </p>
<p>3. <a th:href="@{/paymentMethod/all}">Payment Method options</a> </p>
<P>4. <a th:href="@{/client/all}">Client options</a> </P>
<p>5. <a th:href="@{/address/all}">Address options</a> </p>
<p>6. <a th:href="@{/user/all}">User options</a> </p>
</body>
</html>